@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
textarea,
select {
  @apply w-full rounded-sm border border-gray-200 px-3 py-2;
  @apply mb-2;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}

h1 {
  @apply mb-4 text-xl text-gray-800;
}
h2 {
  @apply mb-2 mt-6 text-lg text-gray-800;
}

label {
  @apply text-sm text-gray-600;
}

.btn-primary {
  @apply rounded-sm bg-primary px-4 py-1 text-white shadow-sm;
}

table.basic {
  @apply w-full rounded-sm bg-white shadow-md;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply border-b border-gray-300 px-2 py-2 text-center text-sm uppercase text-gray-600 sm:px-4 sm:text-left;
}

table.basic tr td {
  @apply border-b border-gray-300 px-2 py-3 text-center sm:px-4 sm:text-left;
}

table.basic a {
  @apply mr-1 inline-flex items-center gap-1 rounded-sm px-4 py-1 text-sm;
}

.btn-red,
.btn-default {
  @apply rounded-sm px-3 py-1 text-sm;
}

.btn-red {
  @apply bg-red-200 text-red-600;
}

.btn-default {
  @apply border border-gray-200 bg-white text-gray-800 shadow-sm;
}
